<!DOCTYPE>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Mocktar</title>
        <link rel="stylesheet" href="/css/main.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>Mocktar !</h1>
        </header>

        <main id="app">
            <div id="content">
                <div id="mocks-list">
                    <ul>
                        <li v-for="mock in mocks">
                            <button class="delete" v-on:click="removeMock([mock.name])">X</button><a href="#" v-on:click="getMock([mock.name])">{{ mock.name }}</a>
                        </li>
                        <li>
                            <button id="addButton" ref="addButton" class="add" v-on:click="addMock()">+ Add</button><button id="updateButton" ref="updateButton" class="update" v-on:click="updateMock()" :disabled="!updating">&#10003; Update</button>
                        </li>
                    </ul>
                </div>

                <div id="mock-content">
                    <div class="row">
                        <div class="label">
                            <label for="name">Name:</label>
                        </div>
                        <div class="field">
                            <input id="name" v-model.trim="name" class="input" :disabled="!formActivation">
                        </div>
                    </div>
                    <div class="row">
                        <div class="label">
                            <label for="verb">Verb:</label>
                        </div>
                        <div class="field">
                            <select id="verb" v-model="verb" class="input" :disabled="!formActivation">
                                <option v-for="currentVerb in verbs" class="option" v-bind:value="currentVerb">
                                    {{ currentVerb }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="label">
                            <label for="request">Request:</label>
                        </div>
                        <div class="field">
                            <input id="request" v-model.trim="request" class="input" :disabled="!formActivation">
                        </div>
                    </div>
                    <div class="row">
                        <div class="label">
                            QueryParam:
                        </div>
                        <div class="row-multi-field">
                            <div class="field-name-value" v-for="(queryParam, index) in queryParams">
                                <button class="deleteQueryParamButton button" v-on:click="deleteQueryParam(index)" :disabled="!formActivation">X</button>
                                <div class="label">
                                    <label :for="'queryParamName' + index">Name:</label>
                                </div>
                                <div class="field">
                                    <input :id="'queryParamName' + index" v-model.trim="queryParams[index].name" class="inputQueryParam" :disabled="!formActivation">
                                </div>
                                <div class="label">
                                    <label :for="'queryParamValue' + index">Value:</label>
                                </div>
                                <div class="field">
                                    <input :id="'queryParamValue' + index" v-model.trim="queryParams[index].value" class="inputQueryParam" :disabled="!formActivation">
                                </div>
                            </div>
                            <div class="field-name-value">
                                <button id="addQueryParamButton" ref="addQueryParamButton" class="add button" v-on:click="addQueryParam()" :disabled="!formActivation">+</button>
                                <div class="label">
                                    <label>Name:</label>
                                </div>
                                <div class="field">
                                    <input class="inputQueryParam" disabled="true">
                                </div>
                                <div class="label">
                                    <label>Value:</label>
                                </div>
                                <div class="field">
                                    <input class="inputQueryParam" disabled="true">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="label">
                            HeaderParam:
                        </div>
                        <div class="row-multi-field">
                            <div class="field-name-value" v-for="(headerParam, index) in headerParams">
                                <button class="deleteHeaderParamButton button" v-on:click="deleteHeaderParam(index)" :disabled="!formActivation">X</button>
                                <div class="label">
                                    <label :for="'headerParamName' + index">Name:</label>
                                </div>
                                <div class="field">
                                    <input :id="'headerParamName' + index" v-model.trim="headerParams[index].name" class="inputHeaderParam" :disabled="!formActivation">
                                </div>
                                <div class="label">
                                    <label :for="'headerParamValue' + index">Value:</label>
                                </div>
                                <div class="field">
                                    <input :id="'headerParamValue' + index" v-model.trim="headerParams[index].value" class="inputHeaderParam" :disabled="!formActivation">
                                </div>
                            </div>
                            <div class="field-name-value">
                                <button id="addHeaderParamButton" ref="addHeaderParamButton" class="add button" v-on:click="addHeaderParam()" :disabled="!formActivation">+</button>
                                <div class="label">
                                    <label>Name:</label>
                                </div>
                                <div class="field">
                                    <input class="inputHeaderParam" disabled="true">
                                </div>
                                <div class="label">
                                    <label>Value:</label>
                                </div>
                                <div class="field">
                                    <input class="inputHeaderParam" disabled="true">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="label">
                            <label for="requestBody">Body:</label>
                        </div>
                        <div class="field">
                            <textarea id="requestBody" v-model.trim="body" rows="15" cols="150" class="input" :disabled="!formActivation"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="label">
                            <label for="response">Response:</label>
                        </div>
                        <div class="field">
                            <textarea id="response" v-model.trim="response" rows="15" cols="150" class="input" :disabled="!formActivation"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                {{ message }}
            </div>
        </main>
    </body>
</html>

<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script type="module" src="/js/verbs.js"></script>
<script type="module" src="/js/main.js"></script>