* {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #3d4f58;
}

.input {
    color: #000000;
}

.add {
    background: linear-gradient(#009900, #006600);
    border-radius: 5px;
}

.delete {
    background: linear-gradient(#FF1744, #CC0000);
    border-radius: 5px;
}